@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-xs;
  }
  button {
    @apply rounded-md bg-white text-black border-none py-2 px-4 my-0 mx-1;
  }
  button:focus {
    @apply ring ring-inset ring-black ring-opacity-50 outline-none;
  }
  button.primary {
    @apply bg-blue-figma shadow-none text-white;
  }
  input {
    @apply border-none outline-none p-2;
  }
  input:hover {
    @apply ring ring-inset ring-black ring-opacity-10;
  }
  input:focus {
    @apply ring ring-inset ring-blue-figma;
  }
}
